[tool.poetry]
package-mode = true
license = "GNU GPLv3"
name = "torchvinecopulib"
version = "2024.3.3rc2"
description = "yet another vine copula library for PyTorch."
authors = ["Tuoyuan Cheng <cty120120@gmail.com>"]
maintainers = ["Xiaosheng You <e1204754@u.nus.edu>"]
readme = "README.md"
# homepage = ""
repository = "https://github.com/TY-Cheng/torchvinecopulib"
documentation = "https://ty-cheng.github.io/torchvinecopulib/"
keywords = ["vine copula", "copula", "torch"]
classifiers = [
    "Environment :: GPU :: NVIDIA CUDA :: 12 :: 12.1",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: Microsoft :: Windows :: Windows 10",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering",
]


[tool.poetry.dependencies]
python = "^3.10"
scipy = "*"
torch = "^2"


[tool.poetry.group.all.dependencies]
matplotlib = "*"
pot = "*"
scikit-learn = "*"


[tool.poetry.group.dev.dependencies]
black = "*"
coverage = "*"
flake8 = "*"
furo = "*"
ipykernel = "*"
matplotlib = "*"
pandas = "*"
pot = "*"
pytest = "*"
pyvinecopulib = "0.6.4"
scikit-learn = "*"
sphinx = "*"


[tool.poetry.urls]
"Bug Tracker" = "https://github.com/TY-Cheng/torchvinecopulib/issues/new"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
